tr.titulo{
  box-shadow: 0 0 0 2px #ff914d;
  border-radius: 10px;
  overflow: hidden;
}

.h1_titulo{
  color: black;
  margin-left: 8%;
  margin-bottom: 0px; 
  margin-top: 50px;
}

.linha_titulo{
  margin-left: 8%; 
  width: 50%;
}

.input_data{
  display: none; 
  padding-top: 10px;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #dcdcdc gray;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #dcdcdc;
  border-radius: 20px;
  border: 1px solid #dcdcdc;
}
::-webkit-scrollbar {
  display: block;
  width: 8px;
  height: 30%;
}

.botao_pesquisa{display: none;}

.div_tabela {
  display: flex; 
  border-bottom: 2px solid black; 
  padding: 0px; 
  margin-bottom: 15px;
}

.div_titulo_tabela{
  align-items: left; 
  width: 30%;
}

.titulo_tabela{
  color: black; 
  margin: 0px;
}

.botoes_tabela{
  background-color: #ff914d;
  color: #fff;
  border: 2px solid #ff914d;
  padding: 6px 9px 6px 9px;
  border-radius: 7px;
  margin-right: 10px;
  font-size: 15px;
  cursor: pointer;
}

.botoes_tabela:hover{
  background-color: #fff;
  color: #ff914d;
  border: 2px solid #ff914d;
  border-radius: 7px;
  margin-right: 10px;
  font-size: 15px;
  transition: 0.5s;
  cursor: pointer;
}

.table-container {
    margin-top: 50px;
    width: 86%;
    height: 60vh;
    margin-right: 7%;
    margin-left: 7%;
    overflow: auto;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    box-shadow: 0px -10px #ff914d, 0px 4px 2px #dcdcdc;
  }

  .input-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="0.8em" opacity="0.5" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>');
    background-repeat: no-repeat;
    background-position: calc(2px) center;
    padding-right: 30px;
  }

  .select{
    width: 100%;
    -webkit-appearance: none;
    /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
    /* Remove estilo padrão do FireFox */
    appearance: none;
    /* Remove estilo padrão do FireFox*/
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="1em" opacity="0.5" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M384 432c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0zm64-16c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320zM224 352c-6.7 0-13-2.8-17.6-7.7l-104-112c-6.5-7-8.2-17.2-4.4-25.9s12.5-14.4 22-14.4l208 0c9.5 0 18.2 5.7 22 14.4s2.1 18.9-4.4 25.9l-104 112c-4.5 4.9-10.9 7.7-17.6 7.7z"/></svg>') no-repeat transparent;
    /* Imagem de fundo (Seta) */
    background-position: calc(100% - 10px) center;
    /*Posição da imagem do background*/
    height: 30px;
    /* altura do select, importante para que tenha a mesma altura em todo os navegadores */
    font-family: Arial, Helvetica, sans-serif;
    /* Fonte do Select */
    font-size: 13px;
    /* Tamanho da Fonte */
    padding: 7px 10px 7px 10px;
    /* Configurações de padding para posicionar o texto no campo */
    color: gray;
    /* Cor da Fonte */
    text-indent: 0.01px;
    /* Remove seta padrão do FireFox */
    text-overflow: "";
    border-color: gray;
    border-radius: 7px;
  }

  .data{
    height: 20px;
    color: gray;
    border-color: #dcdcdc;
    padding: 7px 10px 7px 10px;
    font-family: Arial, Helvetica, sans-serif;
  }

  #searchButton{
    background-color: #ff914d;
    color: #fff;
    border: 2px solid #ff914d;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 15px;
  }

  #searchButton:hover{
    background-color: #fff;
    color: #ff914d;
    border: 2px solid #ff914d;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 10px;
    border-radius: 7px;
    font-size: 15px;
    transition: 0.5s;
  }

  .delete{
    background-color: #fff;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
  }

  .delete:hover{
    background-color: #fff;
    color: #ff914d;
    border: 2px solid #fff;
    border-radius: 7px;
    font-size: 15px;
    transition: 0.5s;
    cursor: pointer;
  }

  .select::-ms-expand {
    display: none;
}
  #searchInput{
    width: 100%;
    margin-top: 10px;
    border-radius: 7px;
    padding: 4px 20px;
    box-sizing: border-box;
    border-color: #dcdcdc;
    font-size: 0.8em;
  }

  .searchInput{
    width: 100%;
    border-radius: 7px;
    padding: 4px 20px;
    box-sizing: border-box;
    border-color: #dcdcdc;
    font-size: 1em;
  }

  table {
    height: 50%;
    border-collapse: collapse;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  td {
    border-bottom: 1px solid black;
    padding: 8px;
    padding-bottom: 0px;
    text-align: left;
    padding-top: 10px;
  }

  th {
    color: #ff914d;
    padding: 6px 9px 6px 9px;
    text-align: left;
  }

  .fade-in {
    animation: fade-in 0.3s;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    padding-bottom: 60px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 18px;
    box-shadow: 0px -10px #ff914d, 0px 4px 2px #dcdcdc;
  }

  .modal input {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }

  .modal button {
    float: right;
    margin-top: 10px;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }